.twelvepm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.oneam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.twoam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.threeam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.fouram {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.fiveam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.sixam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.sevenam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.eightam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.nineam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.tenam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.elevenam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.twelveam {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.onepm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.twopm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.threepm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.fourpm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.fivepm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.sixpm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.sevenpm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.eightpm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.ninepm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.tenpm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}

.elevenpm {
    display: block;
    border: medium dashed green;
    padding: 5mm;
}



